;; shadow-cljs configuration
{:source-paths
 ["src" "test"]

 :dependencies
 []

 :nrepl
 {:port 9000}

 :builds
 {:app {:target     :browser
        :output-dir "public/js"
        :asset-path "/js"

        :modules
        {:main ;; <- becomes public/js/main.js
         {:entries [starter.browser]}}

        ;; start a development http server on http://localhost:8020
        :devtools
        {:http-root "public"
         :http-host "0.0.0.0"
         :http-port 8020}}

  :test {:target    :node-test
         :output-to "out/node-tests.js"
         :ns-regexp "-test$"
         :autorun   true}}}
